body {
  padding-top: 69px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.margin-top-med {
  margin-top: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
div input[type=text]:focus {
  width: 150%;
}
mark {
  color: #fff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 4px;
  background-color: #808080;
}
.open {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #32cd32;
}
.booked {
  background-color: #f00;
}
.closed {
  background-color: #808080;
}
.strong {
  font-weight: bold;
  padding-bottom: 2px;
}
