.container
  .row
   .col-md-3
    input.form-control(type="text" placeholder="search", ng-model="srch")
  table.table.table-condensed.margin-top-med
   thead
    tr
     th Name
     th Role
   tbody
    tr(ng-repeat='user in users | filter:{roles:srch}')
      td {{user.firstName+" "+user.lastName}}
      td {{user.roles}}