.container.margin-top-med
 .jumbotron
  h1 Rock'E'Roll
  p Welcome to Event Organising Website where you can create, apply, participate and watch online feeds all in one place. This is made by Nikhil!!

 .row
  .col-md-6
   div(ng-include="'/partials/main/featured-courses'")
  .col-md-6
   div(ng-include="'/partials/main/new-courses'")